.card {
    margin-top:20px!important;
    margin-bottom: 20px!important;
}

.button {
    margin: 3px!important;
    border: 1.5px;
}
.generate-button .button{
    margin: 3px!important;
}

.info{
    padding: 5px!important;
}

.generate-button {
    width: 100%;
    padding: 10px; /* Adjust the padding as needed */
    background-color: rgb(250, 110, 110);
    color: white;
    border: none;
    cursor: pointer;
    height: 60px;
  }

.generate-button:hover {
    background-color: red;
    color: white;
}
.create:hover {
    background-color: red;
    color: white;
}
  