.card {
    margin:20px!important;
}

.button {
    margin: 3px!important;
    border: 1.5px;
}
.generate-button .button{
    margin: 3px!important;
}

.info{
    padding: 5px!important;
}

.generate-button {
    background-color: white;
    color: red;
    border: 1.5px solid red;
    height: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.generate-button:hover {
    background-color: red;
    color: white;
}
  